p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: justify;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1, h2{
    text-align: center;
    color: deeppink;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h3, h4, h5 {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

ul, a {
    font-family: 'Courier New', Courier, monospace;
    color: white;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

blockquote {
    border-style: double;
    color: white;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

img {
    display: block;

    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

body {
    background-color: black;
}