p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: justify;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1, h2{
    text-align: center;
    color: deeppink;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h3, h4, h5 {
    text-align: center;
    color: white;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

ul{
    font-family: 'Courier New', Courier, monospace;
    color: white;

    margin-left: auto;
    margin-right: auto;
    width: 70%;

    text-decoration: none;
}

a{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

blockquote {
    border-style: double;
    color: white;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

img {
    display: block;

    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  width: 65%;
}

.container div {
    text-align: center;
    margin: auto;
    font-size: 15px;
    color: white;
}
